NEXT_PUBLIC_SUPABASE_URL="https://lqpqhbjsykgcbbxyjeez.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxxcHFoYmpzeWtnY2JieHlqZWV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1OTA0NDEsImV4cCI6MjA4OTE2NjQ0MX0.-WlnPLLYS_vqq3RkwtIti7cnIPMJnLoBxZNb3ZByVF0"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxxcHFoYmpzeWtnY2JieHlqZWV6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzU5MDQ0MSwiZXhwIjoyMDg5MTY2NDQxfQ.xBv8nuFsm-HEBrk3yejWGEDW6wNKmpjgfcT_SE-QpJs"
DASHBOARD_PIN="676767"
DASHBOARD_AUTH_SECRET="QRdncehoLsr8PAc7SVCouDPPflsbmw/vom5TGOzTWcA="
NEXT_PUBLIC_MAP_STYLE_URL="https://demotiles.maplibre.org/style.json"